<h1>Welcome#index</h1>
<p>pagina de inicio</p>
<p>unan leon</p>

<h3> imprimiento un array ruby dentro de una vista</h3>
<% @dias_semana.each do |dia| %>
<% end %>
<h3> metodo last</h3>
<%= @dias_semana.last %>